---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const logs = (await getCollection('work-log'))
  .filter((e) => !import.meta.env.PROD || !e.data.draft)  // hides drafts in prod
  .sort((a, b) => b.data.date?.valueOf() - a.data.date?.valueOf());
---

<Layout title="Work Log">
  <h1>Work Log</h1>

  {logs.length === 0 && <p>No log entries found.</p>}

  <ul>
    {logs.map((log) => (
      <li>
        <a href={`/work-log/${log.slug}/`}>
          {log.data.date?.toLocaleDateString() ?? "No date"} — {log.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
